
.card{
    float: left;
    width: 50%;
    padding: 5 rem;
    border-radius: 15px;
    margin: 16px 8px;
}
.icon{

    float:left;
    display: inline;
    padding-right: 5em;
}
.subcontainer{
    float: left;
    width: 5%;
    display:inline;
    
}
.card3,.card4{
    float:left;
    width: 50%;
}
h6{
    display: inline;
    padding-left: 20px;
}
.side{
    float: right;
    width: 70%;
}

.container-2{
    float: left;
    width: 30%;
}
.group{
   display: inline-block;
   margin: 0 10px 0 0;
}
.content{
    ;
}