* {
    box-sizing: border-box;
    font-family:"lato";
    margin:0px;
}
/* TODO: Move heading common styles(e.g. font-family) separately instead of repeating */
/* TODO: Remove unwanted space in CSS file for indentation */
h1 {
    
    background-color: rgb(56, 6, 56);
    text-align: center;
    padding: 25px;
    color:rgb(255, 255, 255);
    font-family: "roboto";
    font-weight: 10px; ;
}


.bg-image {
    width: 100%;
    height: 90vh;
    background-image: url("../Images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
}



.container{
    padding: 1 1 1;
    width: 100%;
}

.container h2{
    font-weight: 400;
    padding: 1em 0;
    font-family: "roboto";
    font-size: 2rem;
}
.container p{
    padding: 1em 0;
}

.content-container{
    margin: 4rem 8rem 2rem;
    display: grid;
    /* TODO: Have some margin between containers */
    /* TODO: Check this property */
    grid-gap: 1 rem;
    grid-template-columns: repeat(3, 1fr);
}

/* TODO: Remove button outline and match with UX */
button{
   
    padding: 15px 15px;
    background-color: rgb(97, 18, 97);
    color: rgb(255, 255, 255);

}

.bottom{

    padding: 20px;
    text-align: center;
}

.bottom>h2{
    font-family: "lato";
    font-size: 200 px;
    font-weight: 300;
    padding: 1rem;
    color: #751961;
}

.bottom p{
    padding: 1rem;
    margin: auto;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    text-align: justify;
}

footer{

    background-color: rgb(97, 18, 97);
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    
}

